In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from datetime import datetime

In [3]:
data = pd.read_csv('C:\PythonScripts\SpyderScripts\Jakub Tomczak\lab7\sea_ice.csv')

In [11]:
data.head(20)

       Time  Arctic  Antarctica
0   1990M01   12.72        3.27
1   1990M02   13.33        2.15
2   1990M03   13.44        2.71
3   1990M04   12.16        5.10
4   1990M05   10.84        7.37
5   1990M06    9.12       10.26
6   1990M07    6.44       12.17
7   1990M08    4.92       13.95
8   1990M09    4.50       14.30
9   1990M10    6.67       13.71
10  1990M11    9.58       11.24
11  1990M12   11.40        6.56
12  1991M01   12.49        3.39
13  1991M02   13.15        2.01
14  1991M03   13.35        2.54
15  1991M04   12.79        5.10
16  1991M05   11.44        7.77
17  1991M06    9.60        9.87
18  1991M07    6.66       12.12
19  1991M08    5.14       13.96

In [17]:
data['Arctic'] = data['Arctic'].astype('float64')
data['Antarctica'] = data['Antarctica'].astype('float64')

In [21]:
data['Time'] = pd.to_datetime(data['Time'], format = '%Y%MM')

ValueError: time data '1990M01' does not match format '%Y%MM' (match)